<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Downloads</key>
	<dict>
		<key>GitHub</key>
		<array>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>Lilu</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>Lilu.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>VirtualSMC</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>VirtualSMC.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>SMCProcessor.kext</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>WhateverGreen</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>WhateverGreen.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>AppleALC</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>AppleALC.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>MaciASL</string>
				<key>Installations</key>
				<dict>
					<key>Apps</key>
					<array>
						<dict>
							<key>Name</key>
							<string>MaciASL.app</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>Bitbucket</key>
		<array>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-intel-network</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>IntelMausiEthernet.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-usb-inject-all</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>USBInjectAll.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-eapd-codec-commander</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>CodecCommander.kext</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>acpica</string>
				<key>Installations</key>
				<dict>
					<key>Tools</key>
					<array>
						<dict>
							<key>Name</key>
							<string>iasl</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-maciasl-patchmatic</string>
				<key>Name</key>
				<string>RehabMan-patchmatic</string>
				<key>Installations</key>
				<dict>
					<key>Tools</key>
					<array>
						<dict>
							<key>Name</key>
							<string>patchmatic</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Local Installations</key>
	<dict>
		<key>Kexts</key>
		<array>
			<dict>
				<key>Name</key>
				<string>XHCI-200-series-injector.kext</string>
				<key>Essential</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>Deprecated</key>
	<dict>
		<key>Override Defaults</key>
		<true/>
		<key>Kexts</key>
		<array>
			<string>FakeSMC.kext</string>
			<string>FakeSMC_ACPISensors.kext</string>
			<string>FakeSMC_CPUSensors.kext</string>
			<string>FakeSMC_GPUSensors.kext</string>
			<string>FakeSMC_LPCSensors.kext</string>
			<string>FakeSMC_SMMSensors.kext</string>
			<string>FakePCIID.kext</string>
			<string>FakePCIID_Intel_HD_Graphics.kext</string>
			<string>FakePCIID_Intel_HDMI_Audio.kext</string>
			<string>FakePCIID_Broadcom_WiFi.kext</string>
			<string>IntelGraphicsFixup.kext</string>
			<string>GenericUSBXHCI.kext</string>
		</array>
	</dict>
</dict>
</plist>
